<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allNotes</title>
</head>
<body>
    <% for(datas of data){ %>
        <p><%=datas.text%></p>
    <% } %>
    <p>Helo this is me</p>
    <p>my name is amit</p>
</body>
</html>