<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KYs-Notes</title>
</head>
<body>
    <a href="/w/notes">Add</a>
    <hr>
    <table>
        <tr>
          <th>Date</th>
          <th>Title</th>
        </tr>
        <% for(data of allData){ %>
            <tr>
                <td><%=formattedDateTime%></td>
                <td><%=data.title%></td>
                <td><a href="/v/notes/<%=data.userId%>">view</a></td>
            </tr>
        <% } %>
      </table>
</body>
</html>