<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write-Notes</title>
</head>
<body>
    <form action="/w/notes" method="post">
        <label for="title">Title</label>
        <input type="text" placeholder="title" name="title"><br>
        <label for="notes">write notes</label><br>
        <textarea name="notes" id="notes"></textarea>
        <button type="submit">save</button>
    </form>
</body>
</html>